<label *ngIf="label" class="form-label">{{ label }}</label>
<div class="input-group" [class.is-invalid]="invalid">
    <span *ngIf="icon" class="input-group-text">
        <i [class]="icon"></i>
    </span>
    <input type="text" class="form-control" [value]="value" (input)="updateValue($event)" (blur)="onTouched()"
        [placeholder]="placeholder" [class.is-invalid]="invalid" (enterPress)="onSearch()" [disabled]="disabled" />
    <app-button-text class="my-auto" theme="primary" icon="bi bi-search" (click)="onSearch()"></app-button-text>
</div>
<ng-container *ngIf="invalid">
    <div *ngFor="let error of errorMessages" class="invalid-feedback d-block">
        {{error}}
    </div>
</ng-container>