.scroll-hide::-webkit-scrollbar {
    display: none;
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.255rem;
    height: 2.25rem;
    padding: 0;
}