//colors

$app-colors: (
    "primary": #cf0224,
    "secondary": #fff,
    "success": #45f54b,
    "danger": #da0f00,
    "warning": #f6a721,
    "dark": #191919,
    "gray": #7a7c7f,
    "gray-light": #c0c0c0,
    "gray-lighter": #f5f6f8,
    "light": #ffffff,
);