$color-primary: #0057a7;
$color-secondary: #f85400;
$color-success: #45f54b;
$color-danger: #ed2c16;
$color-warning: #f6a721;
$color-dark: #191919;
$color-gray: #6a6a6a;
$color-gray-light: #adadad;
$color-gray-lighter: #f5f6f8;
$color-light: #ffffff;