//colors

$app-colors: (
    "primary": #FFE81E,
    "secondary": #F03126,
    "success": #4C9B6A,
    "danger": #C54740,
    "warning": #F07726,
    "dark": #1C1C1C,
    "gray": #383637,
    "gray-light": #C1BFC0,
    "gray-lighter": #F1EFF0,
    "light": #ffffff,
);