.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    // border-radius: 0.5rem;
    overflow: hidden;
    margin: 0;

    thead {
        vertical-align: middle;

        th {
            background-color: var(--color-gray-lighter);
            color: var(--color-dark);
            padding: 12px 1.5rem;
            text-align: left;
            font-weight: 600;
            font-size: 14px;
            vertical-align: middle;
            border-top: 1px solid var(--color-gray-light);
            ;
            border-bottom: 1px solid var(--color-gray-light);
        }
    }

    tbody::ng-deep {

        td:not(.empty),
        th {
            padding: 1.5rem;
            position: relative;
            vertical-align: middle;
            border-bottom: 1px solid var(--color-gray-lighter);
        }
    }
}