.upload-area {
    background-color: var(--color-light);
    border: 2px dashed var(--color-gray-light);
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 0.5rem;

    &.uploaded {
        background-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
        border: 2px solid var(--color-primary);
    }

    &.dragging {
        background-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
        border: 2px dashed var(--color-primary);
    }
}