<button [type]="type" [ngClass]="['btn', buttonStyle, 'btn-' + size, 'rounded-' + rounded]"
    [disabled]="disabled || loading" [attr.aria-busy]="loading ? 'true' : null" [ngStyle]="{'width': width}"
    (click)="onclick.emit($event)">
    <ng-container *ngIf="loading; else iconContainer">
        <span class="me-2">
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span class="visually-hidden" role="status">Carregando...</span>
        </span>
    </ng-container>
    <ng-template #iconContainer>
        <span class="me-2" *ngIf="icon">
            <i [ngClass]="icon"></i>
        </span>
    </ng-template>
    <ng-container *ngIf="loading && loadingText; else defaultButtonText">
        {{ loadingText }}
    </ng-container>
    <ng-template #defaultButtonText>
        <ng-content></ng-content>
    </ng-template>
</button>