.requirements-list {
    li {
        color: var(--color-danger);

        &.met {
            color: var(--color-dark);

            i {
                color: var(--color-success);
            }
        }
    }
}