<label *ngIf="label" class="form-label">{{ label }}</label>
<div class="input-group">
    <span *ngIf="icon" class="input-group-text">
        <i [class]="icon"></i>
    </span>
    <input [type]="showPassword ? 'text' : 'password'" class="form-control" [value]="value"
        (input)="updateValue($event)" (blur)="onTouched()" [placeholder]="placeholder" [class.is-invalid]="invalid" />
    <app-button-text theme="primary" icon="bi bi-{{showPassword ? 'eye-slash' : 'eye'}}"
        (click)="toggleShowPassword()"></app-button-text>
</div>
<ng-container *ngIf="invalid">
    <div *ngFor="let error of errorMessages" class="invalid-feedback d-block">
        {{error}}
    </div>
</ng-container>