.pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 50rem;
}

.circle-pill {
    aspect-ratio: 1 / 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 1.75rem;
    height: auto;
    padding: 0.5em;
    border-radius: 50%;


    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
}