.input-group {
    background-color: var(--color-light);
    border: 1px solid var(--color-light);
    border-radius: 4rem;
    position: relative;
    transition: 300ms ease;

    &.is-invalid {
        border: 1px solid var(--color-danger);
    }

    input.form-control,
    .form-select {
        box-shadow: none;
        border: none;
        background-color: transparent;

        &:disabled {
            opacity: 50%;
            cursor: not-allowed;
        }
    }

    span.input-group-text {
        background-color: transparent;
        border: none;
        padding-right: 0;
    }

    &:focus-within {
        border: 1px solid var(--color-dark);
        box-shadow: 0 0 0 4px color-mix(in srgb, var(--color-dark) 25%, transparent);
    }
}