@import "styles/reset";
@import "styles/variables";
@import "styles/flexbox";

@import "styles/bootstrap";

:root {
    @each $name, $value in $app-colors {
        --color-#{$name}: #{$value};
    }
}