:host {
    .modal-body {
        max-height: 70vh;
        display: flex;
        flex-direction: column;
    }

    .cropper-wrapper {
        flex-grow: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;

        .cropper {
            flex-grow: 1;
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding: 0;

            --cropper-overlay-color: none;
            --cropper-outline-color: color-mix(in srgb, var(--color-light) 75%, transparent);
            --cropper-border: 3px solid var(--color-primary);
            --cropper-resize-square-bg: var(--color-primary);
            --cropper-focus-border: 3px solid var(--color-primary);
            --cropper-resize-square-border: 3px solid var(--color-primary);
        }
    }
}