<div class="modal-body">
    <div class="cropper-wrapper">
        <image-cropper [imageBase64]="image" format="png" [maintainAspectRatio]="!!aspectRatio"
            [aspectRatio]="aspectRatio" [canvasRotation]="rotation" [transform]="transform" [allowMoveImage]="true"
            (imageCropped)="onCrop($event)" class="cropper">
        </image-cropper>
    </div>

    <div class="row align-items-center gy-3 pt-4 px-3">
        <div class="col-sm-4">
            <div class="flex-center justify-content-sm-start gap-1">
                <app-button-text icon="bi-arrow-counterclockwise h4" (click)="rotateLeft()"></app-button-text>
                <app-button-text icon="bi bi-arrow-clockwise h4" (click)="rotateRight()"></app-button-text>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="flex-align-center gap-3 my-auto">
                <i class="bi bi-image text-gray"></i>
                <input id="zoomRange" type="range" min="1" max="3" step="0.1" [value]="zoom"
                    (input)="onZoomChange($event)" class="form-range" />
                <i class="bi bi-image text-gray h4"></i>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <app-button-default theme="secondary" (click)="closeModal()">Cancelar</app-button-default>
    <app-button-default (click)="confirmCrop()">Confirmar</app-button-default>
</div>