.btn-text {
    border: none;

    &.primary {
        :hover {
            color: var(--color-primary);
        }
    }

    &.success {
        :hover {
            color: var(--color-success);
        }
    }

    &.danger {
        :hover {
            color: var(--color-danger);
        }
    }
}