.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    &-sm {
        width: 2rem;
        height: 2rem;
    }

    &-md {
        width: 3rem;
        height: 3rem;
    }

    &-lg {
        width: 3.5rem;
        height: 3.5rem;
    }
}